@import url(https://fonts.googleapis.com/css?family=Nunito:300,400);body,
html {
  height: 100%;
}

html {
  background-color: #f5f8fa;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}

body a {
  color: #9b9b9b;
}

.app {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 7%;
  color: rgba(0, 0, 0, 0.75);
}

.content .quote {
  padding: 40px;
  text-align: center;
  font-size: 30px;
  max-width: 90%;
}

.content .sharing {
  text-align: center;
  margin-top: 3%;
}

.content .sharing .copy-mobile {
  display: none;
}

@media screen and (max-width: 375px) {
  .content .sharing .copy-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content .sharing .copy-mobile .input-copy {
    border-radius: 20px;
    -webkit-box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.18);
            box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.18);
    padding: 10px;
    margin-top: 7px;
    border: none;
  }

  .content .sharing .clipboard {
    display: none;
  }
}

header {
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: white;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.03), 0 2px 8px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.03), 0 2px 8px 0 rgba(0, 0, 0, 0.11);
}

.btn.twitter {
  background-color: #5FD5FF;
}

.btn.clipboard {
  background: #FF7593;
}

.btn:hover {
  -webkit-box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.03), 0 2px 8px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.03), 0 2px 8px 0 rgba(0, 0, 0, 0.11);
}

.links {
  margin-top: 20px;
}

@media screen and (max-width: 375px) {
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 10px;
  color: #9B9B9B;
}

@media screen and (max-width: 375px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 20%;
  }
}

footer div:nth-child(2) {
  width: 30%;
}

@media screen and (max-width: 375px) {
  footer div:nth-child(2) {
    text-align: center;
    width: 80%;
  }
}

