
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');


// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";


body, html {
	height: 100%;
}
html {
	background-color: $body-bg;
	font-family: $font-family-sans-serif;
}

body {
	margin: 0;

	a {
		color:#9b9b9b;
	}
}


.app {
	padding:0;
	margin:0;
	margin-bottom: 70px;
	display: flex;
	justify-content:center;
	align-items:center;
}
.content {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-self: flex-start;
	padding-top: 7%;
    color: rgba(0,0,0,0.75);

    .quote {
		padding:40px;
		text-align: center;
		font-size: 30px;
		max-width: 90%;

	}


	.sharing {

		text-align: center;
        margin-top: 3%;
        
        .copy-mobile {
        	display: none;
        }
        @media screen and (max-width: $break-small){
        	.copy-mobile {
        		display: flex;
        		margin-top: 10px;
        		flex-direction:column;

        		.input-copy {
        			border-radius:20px;
        			box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.18);
        			padding: 10px;
        			margin-top: 7px;
        			border: none;
        		}
        	}

        	.clipboard {
        		display: none;
        	}
        }



	}
}

header {
	height: 5%;
	display: flex;
	align-items:center;
	justify-content:center;

}

.btn {
	background-color: gray;
	border-radius: 5px;
	box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
	margin:10px;
	color:white;

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;

  box-shadow: 0 1px 17px 0 rgba(0,0,0,0.03), 0 2px 8px 0 rgba(0,0,0,0.11);

  &.twitter {
      background-color: #5FD5FF;
  }

  &.clipboard {
    background: #FF7593;
  }

  &:hover {
    box-shadow: 0 1px 17px 0 rgba(0,0,0,0.03), 0 2px 8px 0 rgba(0,0,0,0.11);
  }
}

.links {
	margin-top: 20px;

	@media screen and (max-width: $break-small){
        	display: flex;
			flex-direction:column;
		}
}



footer {
	
	height: 10%;
	align-items:center;
	display: flex;
	justify-content:space-around;
	font-size: 10px;
	color:#9B9B9B;

	@media screen and (max-width: $break-small){
		flex-direction:column;
		align-items:center;
		justify-content:space-evenly;
		height: 20%;
	}

	div {
		&:nth-child(2) {
			
			width: 30%;
		}
			@media screen and (max-width: $break-small){
					&:nth-child(2) {
					text-align: center;
					width: 80%;
				}	
			}
			
	}

	// &:first-child,&:last-child {
	// 	width: 30%;
	// 	flex: 0 0 auto;
	// }	
	// }
	
}

